### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [361]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

players = len(purchase_data.SN.unique())
#purchase_data['SN'].value_counts()
purchase_data.dtypes
data = purchase_data.rename(columns={"Purchase ID":"Purchase_ID", "SN":"Player","Item ID":"Item_ID", "Item Name":"Item_Name"})
data.head()

,Purchase_ID,Player,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [362]:
print(f"There are {players} players.")

There are 576 players.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [363]:
#Number of unique items, average purchase price, total number of purchases, total revenue
uniqueitems_arr = data["Item_Name"].unique()
num_uniqueitems = len(uniqueitems_arr)

avg_purchase_price = round(data["Price"].mean(),2)

all_purchases = data["Purchase_ID"].unique()
num_purchases = len(all_purchases)

revenue = data["Price"].sum()

purchasing_analysis1 = pd.DataFrame({"Purchases":[num_purchases], "Average PurchasePrice":[avg_purchase_price], "Unique Items":[num_uniqueitems], "Total Revenue": [revenue] })
purchasing_analysis1

   Purchases  Average PurchasePrice  Unique Items  Total Revenue
0        780                   3.05           179        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [364]:
uniqueplayers_arr = data["Player"].unique()
unique = len(uniqueplayers_arr)
unique

576

In [365]:
unique_player_data = data.drop_duplicates(subset='Player')
gender_counts = unique_player_data["Gender"].value_counts()
total = unique_player_data["Gender"].count()

#.loc functions to find genderbased counts
male= unique_player_data.loc[unique_player_data["Gender"] == "Male"].Gender.count()
female= unique_player_data.loc[unique_player_data["Gender"] == "Female"].Gender.count()
other= unique_player_data.loc[unique_player_data["Gender"] == "Other / Non-Disclosed"].Gender.count()
#new data frame based on variables defined with .loc
gender_demographics = pd.DataFrame({"Male Count":[male], "Male %":[round((male/total)*100, 2)], "Female Count":[female], "Female %":[round((female/total)*100, 2)], "Other Count":[other], "Other %":[round((other/total)*100, 2)]})
gender_demographics

   Male Count  Male %  Female Count  Female %  Other Count  Other %
0         484   84.03            81     14.06           11     1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [366]:
#DataFrame
male_df = data.loc[data["Gender"] == "Male"]
#male_df.head()
female_df = data.loc[data["Gender"] == "Female"]
#female_df.head()
other_df = data.loc[data["Gender"] == "Other / Non-Disclosed"]
#other_df.head()

#Purchase Counts
male_purchase_count = male_df["Purchase_ID"].count()
female_purchase_count = female_df["Purchase_ID"].count()
other_purchase_count = other_df["Purchase_ID"].count()

#Average Purchase Price
male_purchase_average = round(male_df["Price"].mean(),2)
female_purchase_average = round(female_df["Price"].mean(),2)
other_purchase_average = round(other_df["Price"].mean(),2)

#Total Purchase Value
male_total_purchase = male_df["Price"].sum()
female_total_purchase = female_df["Price"].sum()
other_total_purchase = other_df["Price"].sum()

#Average Total Purchase per person
male_avg_total_purchase_pp = round(male_total_purchase / male,2)
female_avg_total_purchase_pp = round(female_total_purchase / female,2)
other_avg_total_purchase_pp = round(other_total_purchase / other,2)

purchasing_analysis = pd.DataFrame({"Gender":["Male", "Female", "Other/NonDisclosed"],"Purchase Count":[male_purchase_count, female_purchase_count, other_purchase_count], "Average Purchase Price":[male_purchase_average, female_purchase_average, other_purchase_average], "Total Purchase Value":[male_total_purchase, female_total_purchase, other_total_purchase], "Avg Total Purchase per Person":[male_avg_total_purchase_pp, female_avg_total_purchase_pp, other_avg_total_purchase_pp]})
purchasing_analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other/NonDisclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [367]:
data.dtypes

Purchase_ID      int64
Player          object
Age              int64
Gender          object
Item_ID          int64
Item_Name       object
Price          float64
dtype: object

In [368]:
unique_player_data.head()

,Purchase_ID,Player,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [369]:
#pd.set_option('mode.chained_assignment', None)
bins = [0,9, 14, 19, 24, 29, 34, 39, 100]
age_names = ["Under 10","10 to 14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
unique_player_data["Age Demographics"] = pd.cut(unique_player_data["Age"], bins, labels=age_names)
#unique_player_data.head()
age_counts = unique_player_data["Age Demographics"].value_counts(sort=False)
#age_counts = age_counts.columns["Age_Demograpics", "Number_of_Players"]
age_counts

Under 10     17
10 to 14     22
15-19       107
20-24       258
25-29        77
30-34        52
35-39        31
40+          12
Name: Age Demographics, dtype: int64

In [370]:
agepercent = []
agepercent = round(age_counts/total * 100, 2)
agepercent

Under 10     2.95
10 to 14     3.82
15-19       18.58
20-24       44.79
25-29       13.37
30-34        9.03
35-39        5.38
40+          2.08
Name: Age Demographics, dtype: float64

In [371]:
age_demo = pd.DataFrame({'Number of Players':age_counts, 'Percentage of Players':agepercent})
age_demo

          Number of Players  Percentage of Players
Under 10                 17                   2.95
10 to 14                 22                   3.82
15-19                   107                  18.58
20-24                   258                  44.79
25-29                    77                  13.37
30-34                    52                   9.03
35-39                    31                   5.38
40+                      12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [372]:
data["Age Demographics"] = pd.cut(data["Age"], bins, labels=age_names)
data.head(1)

,Purchase_ID,Player,Age,Gender,Item_ID,Item_Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24

In [373]:
spend_by_age = data.groupby(["Age Demographics"]).Price.sum()
spend_by_age

Age Demographics
Under 10      77.13
10 to 14      82.78
15-19        412.89
20-24       1114.06
25-29        293.00
30-34        214.00
35-39        147.67
40+           38.24
Name: Price, dtype: float64

In [374]:
purchases_by_age = data.groupby(["Age Demographics"]).Purchase_ID.count()
purchases_by_age

Age Demographics
Under 10     23
10 to 14     28
15-19       136
20-24       365
25-29       101
30-34        73
35-39        41
40+          13
Name: Purchase_ID, dtype: int64

In [375]:
#spend_age_data / total in each age will get purchase total per person
purch_ttl_pp = spend_by_age / age_counts
purch_ttl_pp
#average purchase price would be spend_age_data / purchase_by_age

Age Demographics
Under 10    4.537059
10 to 14    3.762727
15-19       3.858785
20-24       4.318062
25-29       3.805195
30-34       4.115385
35-39       4.763548
40+         3.186667
dtype: float64

In [389]:
avg_purch_price = round(spend_by_age / purchases_by_age,2)
avg_purch_price

Age Demographics
Under 10    3.35
10 to 14    2.96
15-19       3.04
20-24       3.05
25-29       2.90
30-34       2.93
35-39       3.60
40+         2.94
dtype: float64

In [391]:
age_purchase_analysis = pd.DataFrame({"Purchase Count":purchases_by_age, "Average Purchase Price": avg_purch_price, "Total Purchase Value":spend_by_age, "Avg Total Purchase per Person": purch_ttl_pp})
age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographics,,,,
Under 10,23,3.35,77.13,4.537059
10 to 14,28,2.96,82.78,3.762727
15-19,136,3.04,412.89,3.858785
20-24,365,3.05,1114.06,4.318062
25-29,101,2.90,293.00,3.805195
30-34,73,2.93,214.00,4.115385
35-39,41,3.60,147.67,4.763548
40+,13,2.94,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [378]:
frequent_spenders = data.groupby(["Player"]).Purchase_ID.count()
frequent_spenders.head()

Player
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase_ID, dtype: int64

In [379]:
big_spenders = data.groupby(["Player"]).Price.sum(sort=True)
big_spenders.head()

Player
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [380]:
averagespend = round(data.groupby(["Player"]).Price.mean(),2)
averagespend.head()

Player
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [381]:
top_spenders = pd.DataFrame({"Purchase Count": frequent_spenders, "Average Purchase Price": averagespend, "Total Purchase Value":big_spenders})
top_spenders.sort_values("Total Purchase Value", ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Player
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [382]:
purchase_count = data.groupby(["Item_Name"]).Purchase_ID.count()
purchase_count.head()

Item_Name
Abyssal Shard                     5
Aetherius, Boon of the Blessed    5
Agatha                            6
Alpha                             3
Alpha, Oath of Zeal               3
Name: Purchase_ID, dtype: int64

In [383]:
purchase_value = data.groupby(["Item_Name"]).Price.sum()
purchase_value.head()

Item_Name
Abyssal Shard                     13.35
Aetherius, Boon of the Blessed    16.95
Agatha                            18.48
Alpha                              6.21
Alpha, Oath of Zeal               12.15
Name: Price, dtype: float64

In [384]:
item_price = purchase_value / purchase_count
item_price.head()

Item_Name
Abyssal Shard                     2.67
Aetherius, Boon of the Blessed    3.39
Agatha                            3.08
Alpha                             2.07
Alpha, Oath of Zeal               4.05
dtype: float64

In [385]:
unique_item_data = data.drop_duplicates(subset='Item_Name')
items_df = unique_item_data[["Item_Name", "Item_ID"]]
items_df.head()

                                   Item_Name  Item_ID
0  Extraction, Quickblade Of Trembling Hands      108
1                          Frenzied Scimitar      143
2                               Final Critic       92
3                                Blindscythe      100
4                                       Fury      131

In [386]:
popular_calc = pd.DataFrame({"Purchase Count":purchase_count, "Item Price": item_price, "Total Purchase Value":purchase_value})
popular_calc.head()

,Purchase Count,Item Price,Total Purchase Value
Item_Name,,,
Abyssal Shard,5,2.67,13.35
"Aetherius, Boon of the Blessed",5,3.39,16.95
Agatha,6,3.08,18.48
Alpha,3,2.07,6.21
"Alpha, Oath of Zeal",3,4.05,12.15

In [387]:
popular_df = pd.merge(popular_calc, items_df, on="Item_Name", how="left")

popular_df.set_index(["Item_Name", "Item_ID"]).sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item_Name,Item_ID,,,
Final Critic,92,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.230000,50.76
Persuasion,141,9,3.221111,28.99
Nirvana,82,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",108,9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [388]:
popular_df.sort_values("Total Purchase Value", ascending=False).head()

,Item_Name,Purchase Count,Item Price,Total Purchase Value,Item_ID
56,Final Critic,13,4.614615,59.99,92
93,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76,178
92,Nirvana,9,4.900000,44.10,82
55,Fiery Glass Crusader,9,4.580000,41.22,145
125,Singed Scalpel,8,4.350000,34.80,103